@import './colors.scss';

$content-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
.content-box-shadow {
  -webkit-box-shadow: $content-box-shadow;
  -moz-box-shadow: $content-box-shadow;
  box-shadow: $content-box-shadow;
}

.content-panel {
  margin-bottom: 15px;
  background-color: $content-panel-bg;
}

.content-desc-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}