$mobile-conatiner: 767px; // to account for all tablets
$tablet-container: 1025px; 


.main-container {
  max-width: $mobile-conatiner;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: $mobile-conatiner) {
  .hide-on-mobile {
    display: none !important;
  }
} 

@media screen and (min-width: $mobile-conatiner) {
  .main-container {
    max-width: $tablet-container;
  }

  .hide-not-mobile {
    display: none !important;
  }
} 